.container {
  max-width: 500px;
  margin: 0px auto; /* Reduced margin to move the form higher */
  padding: 20px;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
  background: linear-gradient(
    165deg,
    #ffa500 0%,
    #ff7f50 30%,
    #ff6347 70%,
    #ff4500 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.input {
  margin-bottom: 15px;
}

.button {
  margin-top: 10px;
  width: auto; /* Adjust button width to fit content */
  text-align: left; /* Align button to the left */
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 1.2rem;
  }

  .input {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
