.navLinkLabel {
  display: flex;
  align-items: left;
  padding: 0.5em 0;
}

.link {
  font-weight: 400;
  font-size: 14px;
}

.icon {
  margin-top: 3px;
  margin-right: 8px;
}

.actionIcon {
  margin: 30px;
  outline: none;
  color: black;
}

.drawerTitle {
  font-size: 2rem;
  padding: 1rem 0 0 1rem;
  font-weight: bold;
  background: linear-gradient(
    165deg,
    #ffa500 0%,
    #ff7f50 15%,
    #ff6347 70%,
    #ff4500 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
